

/* .swiper-slide{
    position: relative !important;
}
.swiper-button-prev{
    position: absolute !important;
    top: 142px !important;
    left: 240px !important;
}
.swiper-button-next{
    position: absolute !important;
    top: 142px !important;
    right: 240px !important;
} */


